node_modules
.svelte-kit
.DS_Store
/build
/package
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.vercelignore

*.code-workspace

docker-compose.yml
compose.yml
Dockerfile

# Ignore Git and version control
.git
.gitignore

# Ignore common log files
*.log

# Ignore editor settings
.vscode